.content{
    /* background-color: aqua; */
    max-width: 100%;
}
.content h1{
    margin: 1rem 2rem;
    font-size: 2.8rem;
}
.class-name, .progress-div{
    background-color: var(--secondary-color-light);
    padding: 3rem;
    margin: 0 3rem 3rem 3rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-width: 100%;
    font-size: 1.3rem;
}

.dashboard-parts{
    display: grid;
    grid-template-columns: 2fr 3fr;
}
.short-analytics h3{
    font-size: 2rem;
    margin-left: 0.2rem;
}
.short-analytics h4{
    font-size: 1.5rem;
    margin-left: 0.2rem;
}
.number-of-mcqs{
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    border: 2px solid var(--primary-color);
    border-radius: 0.5rem;
    margin: 1rem auto;
    width: 100%;
}
.short-analytics{
    grid-column-start: 1;
    grid-column-end: 2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 50px 0 rgba(0, 0, 0, 0.19);
    height: 100%;
    margin: 0 3rem;
    padding: 2rem;
    background-color: chartreuse;
    height: 80%;
}
.choose-test{
    grid-column-start: 2;
    grid-column-end: 3;
    /* background-color: brown; */
    /* height: 80%; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-width: 100%;
    margin: 0 3rem;
}
.analytic-circle{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
}
.progress-div{
    background-color: var(--ternary-color-light);
    padding: 1rem 2rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-width: 100%;
    font-size: 1.1rem;
}
.choose-test-upper{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.container1{
    margin: 3rem 2rem;
}
.container1 p{
    color: var(--ternary-color);
}
.start-test{
    background-color: var(--primary-color);
    color: var(--headline-color);
    font-size: 1.6rem;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 0.5rem;
    width: 100%;
    margin-bottom: 2rem;
    padding: 0 2rem;
}
.start-test:hover{
    background: transparent;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    transition: all .5s ease-in-out;

}

@media(max-width: 500px){
    .dashboard-parts{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
        margin: 0 auto;
    }
}