.main-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
}

.input-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 85vh;
    font-family: sans-serif;
}

.input-section i {

}

.image-login {
    object-fit: cover;
    width: 100%;
    height: 100vh;
    margin: 0;
}

.right-container {
    background-color: var(--headline-color);
}

.heading-1 {
    font-size: 50px;
    margin-bottom: 8px;
}

.right-container p {
    margin-bottom: 35px;
}


.input-section {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    margin-bottom: 10px;

}


.input-email, .input-password, .input-confirm-password, .first-name, .last-name {
    margin-bottom: 10px;
    border-color: rebeccapurple;
    border-radius: 5px;
    font-size: 20px;
    padding: 5px 10px;
    width: 12.4vw;
}


.button-sign-up, .button-login {
    color: white;
    border: 1px solid #b9b5b5;
    background-color: var(--button-color);
    color: var(--headline-color);
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
    padding: 5px 15px;
    width: 25%;
    margin-bottom: 8px;
}
.button-login:hover, .button-sign-up:hover{
    opacity: 0.85;
}

.heading-1 .material-symbols-sharp {
    font-size: 40px;
    color: blue;
}