nav{
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7.5rem;
  max-width: 100%;
}
.navbar-right-links ul {
  min-height: 6.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem;
  font-size: 1.8rem;
}
.navbar-left-section {
  display: flex;
  align-items: center;
  
}
.navbar-left-section span{
  font-size: 2rem;
  color: var(--headline-color);
}
.navbar-right-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  font-size: 1.8rem;
}

nav li span {
  margin-right: 1rem;
  color: var(--headline-color);
}
nav li span:hover {
  color: var(--ternary-color);
  transition: all 0.5s ease-in-out;
}

button {
  all: unset;
  cursor: pointer;
  width: 4.4rem;
  height: 4.4rem;
}
.hamburger {
  display: flex;
}
.mobile{
  display: grid;
  padding-inline: 3rem ;
  grid-template-columns: 100px 40px;
  gap: calc(100vw - 140px);  
}
.mobile .hamburger {
  display: flex;
  flex-direction: column;
  /* padding: 2rem 0; */
  cursor: pointer;
}
.mobile .hamburger span {
  background-color: var(--headline-color);
  width: 2.8rem;
  height: 0.2rem;
  margin-bottom: 0.8rem;
  transform-origin: left;
  transition: all .3s ease-in-out;
}
.mobile .navbar-right-links ul.navbar-links{
  background: -webkit-linear-gradient(45deg, var(--headline-color), var(--primary-color));
  background: linear-gradient(45deg, var(--headline-color), var(--primary-color));
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  width: 100%;
  height: 100%;
  padding-top: 10rem;
  opacity: 0;
  pointer-events: none;
  transition: all .3s ease-in-out;

}
.mobile .hamburger{
  z-index: 9999;
}
.mobile .navbar-left-section span{
  z-index: 9999;
}
.mobile ul.open.navbar-links{
   opacity: 1;
   pointer-events: auto;
}
@media(max-width:860px){
  nav{
    display: flex;
    justify-content: center;
  }
  nav:nth-child(1){
    padding: 2rem 0;
  }
}