nav ul {
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem;
    font-size: 1.8rem;
  }
  .navbar-right-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    font-size: 1.8rem;
  }
  nav ul:nth-child(1){
      display: flex;
    align-items: center;
  }
  nav li span {
    color: var(--headline-color);
  }
  #search {
    all: unset;
    font-size: 1.8rem;
    color: var(--headline-color);
    height: 100%;
    width: 100%;
    padding: 0.6rem 1rem;
  }
  #search::placeholder {
    color: var(--headline-color);
    opacity: 0.7;
  }
  .search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px  solid var(--headline-color);
    border-radius: 0.8rem;
  }
  button {
    all: unset;
    cursor: pointer;
    width: 4.4rem;
    height: 4.4rem;
  }
  
  svg {
    color: #fff;
    fill: currentColor;
    width: 3rem;
    height: 3rem;
  }
  