
.form-container{
    height: 30%;
}

.right-container h1, .right-container h2{
    text-align: center;
}
.form-container{
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 20px;
}
.input-section .item11{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
.input-section .item12{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
.bottom-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 3;
}