
.button-sign-up{
    color: var(--headline-color);
    border: 1px solid var(--headline-color);
    background-color: var(--primary-color);
    color: var(--headline-color);
    border-radius: .8rem;
    cursor: pointer;
    width: 50%;
    font-size: 2rem;
    padding: 0.5rem 1rem;
    margin: 0.5rem auto;
    text-align: center;
}
#register-container{
    border: none;
}
.form-container{
    height: 30%;
}

.right-container h1, .right-container h2{
    text-align: center;
}
.form-container{
    display: grid;
    grid-template-columns: 29rem 29rem;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 2rem;
}
.input-section .item11{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
.input-section .item12{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
.bottom-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 3;
}

@media screen and (max-width: 500px){
    #register-container{
        border: 2px solid var(--headline-color)
    }
    .form-container{
        display: grid;
        grid-template-rows: repeat(6,1fr) ;
        grid-template-columns: 1fr;
        column-gap: 0rem;
    }
    .item11{
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .item12{
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .item13{
        grid-row-start: 3;
        grid-row-end: 4;
    }
    .item14{
        grid-row-start: 4;
        grid-row-end: 5;
    }
    .item15{
        grid-row-start: 5;
        grid-row-end: 6;
    }
    .item16{
        grid-row-start: 6;
        grid-row-end: 7;
    }
}