body {
  margin: 0;
  padding: 0;
}

:root {
  --primary-font: 'Poppins', sans-serif;
  --secondary-font: 'Poppins', sans-serif;
  --side-color: #7f5af0;
  --headline-color: #fffffe;
  --button-text: #7f5af0;
  --ternary-color: #e16162;
  --paragraph-color: #94a1b2;
  --bg-color: #004643;
  --primary-color: #abd1c6;
  --side-color: #f9bc60;
  --secondary-color: #abd1c6;
  --button-color: #001e1d;
}
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }
h1, h2, h3, h4, h5, h6 {
  font-family: var(--secondary-font);
  color: var(--primary-color);
}

p {
  font-family: var(--primary-font);
  color: var(--paragraph-color);
}

a{
  text-decoration: none;
}
ul,li{
  list-style: none;
}
ul{
  margin: 0;
  padding:0;
}


@import "./styles/LoginForm.css";
@import "./styles/RegisterForm.css";
@import "./styles/DashboardLayout.css";
@import "./styles/Navbar.css";
@import "./styles/Sidebar.css";
@import "./styles/PracticeMCQs.css";
@import "./styles/ShowMCQs.css";
