body {
  margin: 0;
  padding: 0;
}

:root {
  --primary-font: 'Arial', sans-serif;
  --secondary-font: 'Poppins', sans-serif;
  --primary-color: #081466;
  --secondary-color: #ef6f7f;
  --secondary-color-light: #e898a6;
  --headline-color: #f7f7f9;
  --main-color: #ffffff;  
  /* Above color is fully white */
  --tertiary-color: #4fc194;
  --ternary-color: #999fbb;
  --ternary-color-light: rgb(153,159,187, 0.85);
}
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }
h1, h2, h3, h4, h5, h6 {
  font-family: var(--secondary-font);
  color: var(--primary-color);
}

p, button,span {
  font-family: var(--primary-font);
  color: var(--primary-color);
}
label{
  font-family: var(--primary-font);
  color: var(--primary-color);
  font-size: 2rem;
}

a{
  text-decoration: none;
}
ul,li{
  list-style: none;
}
ul{
  margin: 0;
  padding:0;
}
html{
  font-size: 83.33333%;
}
@media screen and (max-width: 998px){
  html{
    font-size: 50%;
  }
}
@media screen and (max-width: 768px){
  html{
    font-size: 40%;
  }
}


@import "./styles/LoginForm.css";
@import "./styles/RegisterForm.css";
@import "./styles/DashboardLayout.css";
@import "./styles/Navbar.css";
@import "./styles/Sidebar.css";
@import "./styles/PracticeMCQs.css";
@import "./styles/ShowMCQs.css";
@import "./styles/DashboardContent.css";
@import "./styles/CheckMarks.css";
@import "./styles/ResultPage.css";
@import "./styles/AboutPage.css";
@import "./styles/ContactPage.css"